.container-detail{
    margin: 20px 15px;
    padding: 8px ;
    max-width: 85%;
    border: 2px solid black;
    border-radius: 15px;
}

*{
    margin: 0;
}

.card-detail{
    display: flex;
    flex-direction: column;
    font-family: 'Jua', Courier, monospace;
    
    /* border: 2px solid green; */
}

.title-column .name-city{    
    padding-left: 15px;
    font-size: 40px;
    /* border: 1px solid slateblue; */
}

.title-column .description{
    font-size: 28px;
    padding-left: 15px;
    -webkit-text-stroke: 0.8px black;
    /* border: 1px solid red; */
}

.temp-group{
    display: flex;
    justify-content: center;
}

.temp-group .icon-weather{
        
/* border: 1px solid black; */
}

.temperature{
    font-size: 45px;

    /* border: 1px solid blue; */
}

.details-group{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: 1px solid red; */
}

.details{
    width: 70%;
    font-size: 20px;
    
    /* border: 1px solid darkmagenta; */
}

.container-btn{
    text-align: center;
    margin: 15px 0;
    /* border: 1px solid darkmagenta; */
}

.btn{
    font-size: 20px;
}