@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

.container-card{    
    margin: 0 auto;
    padding: 8px ;
    max-width: 85%;
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);    
    box-shadow: -5px 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

.container-weather{
    display: flex;
    flex-direction: column;
    font-family: 'Jua', Courier, monospace;
}

.container-name{
    display: flex;
    flex-direction: column;
}

.row-location{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    margin: 0 10px 0 0;
    font-size: 30px;
}

.title-small{
    margin: 0 10px 0 0;
    font-size: 25px;
}

.code-desk{        
    display: none;
}

.flags{    
    max-width: 20%;
}

.add-favorite{
    max-width: 10%;
    transition: .2s;
}

.add-favorite:hover{
    transform: scale(1.2);
}

.date{
    margin: 0;
    font-weight: 400;
    color: #CB4B03;
}

.container-temperature{
    display: flex;
    justify-content: space-between;
}

.temperature{
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.main-temperature{     
    font-size: 30px;
    font-weight: bold;
}

.icon-weather{    
    height: 50%;
}

.container-extends{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 50%;
    text-align: center;
}

.description{
    font-weight: 400;
    font-size: 20px;
    color: #CB4B03;
    margin-bottom: 8px;
}

.temp-min-max{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8px ;
}

.temp-min,
.temp-max{
    margin: 0;
    font-size: 15px;
    font-weight: bold;
}

.desketop.group{
    display: flex;
    justify-content: center;
    width: 100%;
}

.desketop.properties p{
    width: max-content;
    margin: 10px 30px;
    font-size: 15px;
}

/* --<desketop>--- */
@media(min-width: 421px){
    .container-card{
        margin: 0 15px;
        padding: 8px ;
        min-width: 390px;
        box-shadow: -20px 10px 10px 4px rgba(0, 0, 0, 0.25);
        border-radius: 15px;
    }
    .title{
        display:flex ;
        font-size: 40px;
    }    
    .title-small{        
        font-size: 25px;
    }
    .title-small .code-desk{
        font-size: 25px;        
    }
    .code-desk{
        display: inline;
    }    
    .flags{
        margin-right: 5px;
        max-width: 15%;
    } 
    .main-temperature{
        font-size: 35px;        
    }
    .temp-min,
    .temp-max{        
        font-size: 25px;        
    }
    .feels-like{        
        font-size: 20px;
    }
}