.container-favorite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 15px;
    padding: 8px ;
    max-width: 85%;    
    box-shadow: -5px 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;  
}

.card-favorite{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #2193B0 0%, #6DD5ED 100%);
    margin: 0  0 10px 0; 
    padding-top: 5px;
    width: 30%;
    color: #0B1B6C;
    font-family: 'Jua', Courier, monospace;
    border-radius: 15px;
}

.card-favorite:hover{    
    box-shadow: -5px 5px 5px 4px rgba(0, 0, 0, 0.45);  
}

.name-city{
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.temp-currently{
    font-size: 25px;
    margin: 0;
}

.icon-weather-f{
    margin: 0;
    height: 45px;
    width: 45px;
}

.btn-remove{
    background-color: red;    
    color: white;
    border-radius: 5px;
    margin: 5px 0;
}

/* --<desketop>--- */
@media(min-width: 421px){
    .container-favorite{
        justify-content: flex-start;
        margin: 0 auto;        
        border: none;
    }
    .card-favorite{
        width: 10%;
        margin: 5px 12px;       
    }    
}