.container{    
    background: linear-gradient(72.7deg, #2980B9 0.86%, #6DD5FA 49.84%, rgba(252, 252, 252, 0.93) 98.83%);    
    overflow: auto;
    margin: 0;    
    padding: 0;
}

.loading{    
    margin: 0 15px;
    max-width: 89%;
    height: 280px;
    border-radius: 15px;    
}

.back-top{
    display: block;
    margin: 40px 0;
    text-align: center;
}

.img-back-top{
    width: 50px;
    height: 50px;
}

/* --->desketop<--- */
@media(min-width: 600px){
    .mobile{        
        display: none;
    }

}

/* --->desketop<--- */
@media(min-width: 421px){
    .container{        
        height: 100vh;
        overflow: auto;
    }
    .block-card{
        margin: 20px 0;
        display: flex;
        justify-content: space-evenly;
    }
}