.container-search{
    display: flex;
    justify-content: center;    
    padding: 20px 0;
    /* border: 1px solid black;     */
}

.group-search{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 3px 15px;
    border-radius: 20px;
    background-color: white;
    /* border: 1px solid green; */
}

.input_search{
    margin: 10px 3px;
    padding: 0 10px 0 5px ;
    font-size: 18px;
    width: 280px;
    /* font-weight: bold; */
    border: none;
    outline: none;
    border-radius: 10px;    
}