.container-nav{    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Jua', Courier, monospace;
    background: linear-gradient(90deg, #2193B0 0%, rgba(94, 200, 225, 0) 98.93%);
}

.logo-nav{    
    display: flex;
    align-items: center;
}

.logo{    
    width: 50px;
    height: 50px;
    padding: 10px 0 10px 10px;
}

.name-nav{
    font-size: 20px;
    font-weight: bold;    
    padding-left: 10px;
}

.menu{
    width: 60%;
    height: 60%;
}

.desketop{
    display: none;
}

/* ---<menu burger>--- */
.container-burger{    
    position: relative;
    z-index: 20;
}

.menu-links{
    position: absolute;
    top: -700px;
    left: -2000px;
    right: 0;
    margin: 0 auto;
    text-align: center;
    transition: all .5s ease;
}

.menu-links a{
    color: black;
    color: white;
    font-size: 30px;
    display: block;
    text-decoration: none;
}

.menu-links.active {    
    width: 100%;
    display: block;
    position: absolute;
    margin: 0 auto;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 20;
}

.menu-links.active a{
    margin: 20px;
}

/* ---<div background>--- */
.initial{
    position: absolute;    
    background: linear-gradient(90deg, #56CCF2 0%, #2F80ED 100%);
    top: -1500px;
    left: -1500px;
    width: 100%;
    height: 100%;
    z-index: 10;
    transition: all .6s ease ;    
}

.initial.active{
    border-radius: 0 0 0 80%;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;    
}

/* ---<desketop>--- */
@media(min-width: 600px) {
    .desketop{
        display: block;
    }
}

@media (min-width: 421px) {
    .name-nav{
        font-size: 30px;
    }
    .logo{    
        width: 60px;
        height: 60px;
        padding: 10px 0 10px 10px;        
    }
    .menu-links{
        position: initial;       
        display: block;
    }
    .menu-links a{
        display: inline;
        text-decoration: none;
        padding: 0 25px;
        color: black;     
    }
    .hide-mobile .menu-links a:hover{
        color: #2294b1;
    }

    /* ---<menu burger>--- */
    .container-burger{
        display: none;
    }
}

/* ---<animation menu>--- */
.nav-icon-5{
    width: 35px;
    height: 30px;
    margin: 10px 15px;
    position: relative;
    cursor: pointer;
    display: inline-block;
}
.nav-icon-5 span{
    background-color:#000;
    position: absolute;
    border-radius: 2px;
    transition: .3s cubic-bezier(.8, .5, .2, 1.4);
    width:100%;
    height: 4px;
    transition-duration: 500ms
}
.nav-icon-5 span:nth-child(1){
    top:0px;
    left: 0px;
}
.nav-icon-5 span:nth-child(2){
    top:13px;
    left: 0px;
    opacity:1;
}
.nav-icon-5 span:nth-child(3){
    bottom:0px;
    left: 0px;
}
.nav-icon-5:not(.open):hover span:nth-child(1){
    transform: rotate(-3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(2){
    transform: rotate(3deg) scaleY(1.1);
}
.nav-icon-5:not(.open):hover span:nth-child(3){
    transform: rotate(-4deg) scaleY(1.1);
}
.nav-icon-5.open span:nth-child(1){
    background-color:#fff;
    transform: rotate(45deg);
    top: 13px;
}
.nav-icon-5.open span:nth-child(2){
    opacity:0;
}
.nav-icon-5.open span:nth-child(3){
    background-color:#fff;
    transform: rotate(-45deg);
    top: 13px;
}