.container-map{
    margin: 20px auto;
    padding: 8px ;
    height: 250px;
    max-width: 85%;
    box-shadow: -5px 5px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}

@media(min-width: 425px){
    .container-map{
        width: 450px;
        height: auto;
        margin: 0;
    }
}